.main-content {
    display: grid;
    height: 80vh;
    justify-content: center;
    align-items:center;
    background-color: #fefae0;
}

.question {
    color:#fefae0;
    background-color: #2a9d8f80;
    padding: 40px;
    border-radius: 1rem;
}

.body-input {
    color:#fefae0;
    background-color: #3C3F58;
    border-color: #2a9d8f;
    border-radius: 1rem;
    margin-top: 20px;
    padding:5px;
    -webkit-transition: 0.5s;
    border:3px solid #0f3040;
    outline:none;
}

::placeholder {
    color: #fefae080;
}

.body-input:focus {
    border: 3px solid #2a9d8f
}

.container-answers {
    color:#000000;
    background-color: #2a9d8f80;
    text-align: center;
    padding: 30px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: auto auto;
}

.button-answer {
    color:#fefae0;
    background-color: #3C3F58;
    border-radius: 15px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right:10px;
    margin-left:10px;
    text-align:center;
    border-color: #2a9d8f;
    transition-duration: 0.3s;
}

.button-answer:hover {
    box-shadow: 0 12px 16px 0 #e76f5157, 0 17px 50px 0 #e76f5163;
    background-color: #5A7D9A;
    cursor:pointer;
}

.button-answer:active {
    transform: translateY(4px);
    background-color: #e76f51;
}

.button-search {
    color:#0f3040;
    background-color: #fefae0;
    border-radius: 15px;
    padding: 10px;
    text-align:center;
    border-color: #2a9d8f;
    margin-top: 20px;
    transition-duration: 0.3s;
}

.button-search:hover {
    box-shadow: 0 12px 16px 0 #2a9d8f3d, 0 10px 20px 0 #2a9d8f30;
    background-color: #d9b45b;
    cursor:pointer;
}

.button-search:active {
    transform: translateY(4px);
    background-color: #e76f51;
}