.footer-list {
    padding: 20px;
    text-align: center;
    color:  #fefae0;
    list-style-position: inside;
    list-style-type: none;
}

.footer-link:link, .footer-link:visited {
    text-align: center;
    color:  #fefae0;
    background-color: #2a9d8f;
    text-decoration: none;
}

.footer-link:visited {
    text-align: center;
    color:  #fefae0;
    text-decoration: none;
}

.footer-link:hover{
    text-align: center;
    color:  #fefae0;
    text-decoration: underline;
}

.footer-link:active{
    text-align: center;
    color:  #fefae0;
    text-decoration: none;
}

.copyright {
    margin-top: 10px;
    text-align: center;
    color:  #fefae0;
}
