.footer-list {
    padding: 20px;
    text-align: center;
    color:  #fefae0;
    list-style-position: inside;
    list-style-type: none;
}

.footer-link:link, .footer-link:visited {
    color:  #fefae0;
    text-decoration: none;
}

.footer-link:visited {
    color:  #ffd45e;
    text-decoration: none;
}

.footer-link:hover{
    color:  #fefae0;
    text-decoration: underline;
}

.footer-link:active{
    color:  #2a9d90;
    text-decoration: none;
}

.copyright {
    margin-top: 10px;
    color:  #fefae0;
    font-size: 1.5rem;
}
