.navbar {
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 15px;
    background-color: #3C3F58;
}

.navbarLogo {
    padding: 20px ;
}

.logoImg {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: -8px;
}

.navbarTitle {
    text-align:left;
    color: #fefae0;
    line-height:1;
    margin-bottom:-10px;
    padding:2px;
    font-size: 30px;
}

.navbarSubtitle {
    color: rgb(254,250,224);
    margin: 0;
    padding: 0;
    line-height: 1;
}