.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  gap: 10px;
  background-image: url("../images/background_default.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #3c3f58;
  color: #fefae0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  z-index: 9999;
}

.loadingGif {
  margin: 16px;
}
.dot {
  width: auto;
  height: 25px; /* or whatever original height is */
  image-rendering: auto;
  margin-top: 26px;
  display: block;
}
