.card {
  border-radius: 1rem;
  padding: 30px;
  width: 1000px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.multipleChoiceGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10%;
  margin: 30px 0 50px;
  justify-content: center;
}

.booleanChoiceGrid {
  display: flex;
  justify-content: center;
  margin: 30px 0 50px;
}

.answerButton {
  width: 480px;
  padding: 10px 30px;
  margin: 0 10px;
  border-radius: 15px;
  border: 1px solid #fefae0;
  text-align: center;
  color: #fefae0;
  background-color: #3c3f58;
  transition: 0.3s;
}

.answerButton:hover {
  background-color: #5a7d9a;
  box-shadow: 0 2px 6px 0 #3c3f5877, 0 7px 15px 0 #54587c65;
  cursor: pointer;
}

.answerButton:active {
  background-color: #3c3f58;
  transform: translateY(4px);
}

.scorePanel {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  border-radius: 1rem;
  background-color: #3c3f58;
  color: #fefae0;
  font-size: x-large;
  font-weight: bold;
}

.easy,
.medium,
.hard {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #3c3f58;
}

.easy {
  background: #4d8a4d52;
  border: 1px solid #066306ad;
  box-shadow: 0 5px 15px #4d924d33;
}

.medium {
  background: #a5570d52;
  border: 1px solid #e97e1bad;
  box-shadow: 0 5px 15px #ffc89633;
}

.hard {
  background: #aa131352;
  border: 1px solid #ac1e358c;
  box-shadow: 0 5px 15px #ff698733;
}

.questionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  padding: 0; /* auto was invalid */
  width: auto;
  border: 1px solid #fefae0;
  border-radius: 15px;
  background-color: #3c3f58;
  color: #fefae0;
  text-align: center;
  transition: 0.3s;
}

.categorySymbol {
  height: 60px;
  margin: 10px 10px 10px 20px;
}

.bar {
  width: 2px;
  min-width: 2px;
  height: 50px;
  background-color: #fefae0;
  margin: 0 10px;
}

.correct {
  background-color: #4caf50 !important;
  color: white;
}

.incorrect {
  background-color: #f44336 !important;
  color: white;
}

.restButtons {
  background-color: #3c3f58 !important;
  color: white;
}

.answerButton.correct:hover,
.answerButton.incorrect:hover,
.answerButton.restButtons:hover {
  background-color: inherit;
  box-shadow: none;
  cursor: default;
}

.resetQuizButton {
  padding: 10px 20px;
  margin: 0;
  border-radius: 20px;
  color: #fefae0;
  background-color: #3c3f58;
}

.resetQuizButton:hover {
  background-color: #b84f77;
  box-shadow: 0 2px 6px 0 #3c3f5877, 0 7px 15px 0 #54587c65;
  cursor: pointer;
}

.questionNumber {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  border-radius: 1rem;
  background-color: #3c3f5873;
  color: #fefae0;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.muteButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}
