.easy {
  color: #fefae0;
  background-color: #2f7055;
}

.medium {
  color: #fefae0;
  background-color: #774223;
}

.hard {
  color: #fefae0;
  background-color: #832828;
}

html,body {
    margin:0;
    padding:0;
    height:100%;
}

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    width: 100%;
    background-color: #3C3F58;
}

.quizQuestion {
  color: #fefae0;
  padding: 30px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 1000px;
  text-align: center;
  font-size: x-large;
}